body {
  background-image: url(images/background_money.jpg);
}

div {
  width: 1400px;
  height: 700px;
  background: rgba(255, 255, 255, 0.3);
  /*position: fixed;*/
  margin-left: 100px;
  overflow: hidden; /* prevents child margin moving the parent */
}

#camera_button_block {
  width: 50px;
  height: 50px;
  margin-left: 650px;
  margin-top: 300px;
  background: rgba(255, 255, 255, 1);

}

#camera_button {
  width: 50px;
  height: 50px;

}
